.song-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width:15%;
        border-radius: 5%;
        transition:all 0.5s ease-in-out;
        box-shadow: 5px 5px 15px rgb(32, 32, 32);
        &:hover{
            transform: scale(1.2);
            border-radius: 10%;
        }
    }
    h2{
        padding: 3rem 1rem 1rem 1rem;
    }
    h3{
        font-size: 1rem;
    }
}

.play-effect{
    transform: scale(1.2);
    border-radius: 10% !important;
}


@media screen and (max-width:768px){
    .song-container{
        img{
            width:60%;
        }
    }
}